<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Mapa Sanca</title>
</head>
<body>
  <h2>Registro de novas localizações</h2>
  <form action="/post-register" method="post">
    Nome do ponto: <input type="text" name="name"><br>
    Descrição: <input type="text" name="description"><br>
    Seu nome: <input type="text" name="author"><br>
    Latitude: <input type="text" name="lat"><br>
    Longitude: <input type="text" name="lng"><br>
    <input type="submit" value="Registrar">
  </form>
</body>
</html>
